
<div  class="form-body">
    <form
      autocomplete="off"
      [formGroup]="createFormtb"
      (ngSubmit)="onCreatetb(createFormtb.value)"
    >
    <h3>Tableau Login</h3>
      <div>
        <label>UserName: </label>
        <input type="text" formControlName="username" autocomplete="off" />
      </div>
      <div>
        <label>Password: </label>
        <input type="text" formControlName="password" autocomplete="off" />
      </div>
      <div>
        <label>Sitename: </label>
        <input type="text" formControlName="sitename" autocomplete="off" />
      </div>
      <button type="submit">Discover</button>
    </form>
  </div>
  
  

  