
<div  class="form-body">
    <form
      autocomplete="off"
      [formGroup]="createFormtb"
      (ngSubmit)="onCreatetb(createFormtb.value)"
    >
      <div>
        <label>Name: </label>
        <input type="text" formControlName="username" autocomplete="off" />
      </div>
      <div>
        <label>Password: </label>
        <input type="text" formControlName="password" autocomplete="off" />
      </div>
      <div>
        <label>Sitename: </label>
        <input type="text" formControlName="sitename" autocomplete="off" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  
  <div *ngFor="let restaurant of tbs">
    <div>{{ restaurant.username }}</div>
    <div>{{ restaurant.password }}</div>
    <div>{{ restaurant.sitename }}</div>
    
  </div>

  