<!--<div class="sidenav">
  <a href="/customer" >Customer</a>
  <a href="/department" >Department</a>
  <a href="/bimlogin">BIM</a>
  <a href="/datasets" >Dataset</a>
  <a href="/tableaulogin">Tableau</a>
  <a href="/quicksightlogin">Quicksight</a>
  
</div>-->

<div class="topnav">
 
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
 
  <a href="#">Home</a>
  <a href="#">Dashboard</a>
  <a href="" style="float:left; font-size: 24px; color:rgb(173, 209, 12); ">Bi-Migrator</a>
 

</div>

<div class="main">
  <router-outlet></router-outlet>


<!--<div *ngIf="showapp" style="margin-top: -20px;">
  <amplify-auth-container>
  <amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>
  
  <div *ngIf="authState === 'signedin' && user" class="App">
    <amplify-sign-out></amplify-sign-out>
    <div>Hello, {{user.username}}</div>
   
  </div>
  </amplify-auth-container></div>-->

  <div *ngIf="showapp" class="row">
    <div class="column" style="background-color:whitesmoke; border:5px solid pink; border-radius: 20px;">
     <p style="margin-left:10%; font-size: medium; color: rebeccapurple;">Migration projects per User</p>
    </div>
    <div class="column" style="background-color:whitesmoke;border:5px solid pink; border-radius: 20px;">
      <p style="margin-left:10%; font-size: medium; color:green">Migrated projects per User</p>
    </div>
    <div class="column" style="background-color:whitesmoke; border:5px solid pink; border-radius: 20px;">
      <button (click)="showm()" style="background-color:rgb(26, 133, 58); width:200px; height:50px; font-size:15px; color:white;  margin-top: 30%; margin-left:30%; border-radius: 20px;">Migrate My Project</button>
     
    </div>
  </div>
  
</div>

<div *ngIf="logcred "class="modal"  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
       <button (click)="method()" style="background-color:rgb(26, 133, 58); width:200px; height:50px; font-size:15px; color:white;   margin-left:25%; border-radius: 20px;">  Please Login!!! </button>
        </div>
        </div>
        </div>
        </div>
        