body {
    font-family: "Lato", sans-serif;
  
  }
  
  .sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity:0.5;
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
    margin-top: 68px;
   
  }
  
  .sidenav a {
    padding: 6px 8px 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(245, 241, 241);
    display: block;
    
    
  }
  
  .sidenav a:hover {
   
    background-color: rgb(31, 174, 231);
  }
  
  .main {
    margin-left: 150px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-top: 20px;
   background-color: #b8bdbb;
  
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.topnav {
  overflow: hidden;
  
  margin-top: -10px;
  margin-left: -10px;
  margin-right:-8px;
  background-color: #000000;
  opacity:0.6;
}

.topnav a {
  float: right;
  color: rgb(252, 248, 248);
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 18px;
  
  
}

.topnav a:hover, h1 {
  background-color: rgb(31, 174, 231);
 
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}