body {
    font-family: poppins,sans-serif;
  
  }
  
  .sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity:0.5;
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
    margin-top: 68px;
   
  }
  
  .sidenav a {
    padding: 6px 8px 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(245, 241, 241);
    display: block;
    
    
  }
  
  .sidenav a:hover {
   
    background-color: rgb(31, 174, 231);
  }
  
  .main {
     /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-top: 20px;
   background-color: #b8bdbb;
   font-family: poppins,sans-serif;
  
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.topnav {
  overflow: hidden;
  
  margin-top: -10px;
  margin-left: -10px;
  margin-right:-8px;
  background-color: #000000;
  opacity:0.6;
  font-family: poppins,sans-serif;
}

.topnav a {
  float: right;
  color: rgb(252, 248, 248);
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: poppins,sans-serif;
  
}

.topnav a:hover, h1 {
  background-color: rgb(31, 174, 231);
 
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.column {
  float: left;
  width: 32.33%;
  height:700px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  
}

.modal {
  height: 100px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  overflow: scroll;
}

.modal-content {
  height: 100px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    overflow: scroll;
}

.board li{
  display:block;
  border: 1px solid green;
  border-radius: 10px;
  font-size: small;
  padding:30px;
  background-color: white;
  margin-top: 20px;
  overflow: scroll;
}

.comment li{
  font-size: small;
  padding:5px;
 display: block;
  margin-top: 20px;
  overflow: scroll;
}

.comments{
  display:block;
  border: 1px solid green;
  border-radius: 10px;
  font-size: small;
  padding:30px;
  background-color: white;
  margin-top: 20px;
  overflow: scroll;
}