

<div  class="form-body">
    <form
      autocomplete="off"
      [formGroup]="createFormtb"
      (ngSubmit)="onCreatetb(createFormtb.value)"
    >
    <h3>BIMProject Login</h3>
      <div>
        <label>Department ID: </label>
        <input type="text" formControlName="Did" autocomplete="off" />
      </div>
      <div>
        <label>MigrationID: </label>
        <input type="text" formControlName="migrationid" autocomplete="off" />
      </div>
      <div>
        <label>Project Name: </label>
        <input type="text" formControlName="name" autocomplete="off" />
      </div>
      <div class="row">
      <div class="column">
        <label for="source">
            Source: </label>
        <select id="source" formControlName="source">
          <option value="TABLEAU" >TABLEAU</option>
          <option value="QUICKSIGHT">QUICKSIGHT</option>
        </select>
      </div>
      <div class="column">
        <label for="source">
          Destination: </label>
      <select id="destination" formControlName="destination">
        <option value="TABLEAU" >TABLEAU</option>
        <option value="QUICKSIGHT" >QUICKSIGHT</option>
      </select>
      </div>
    </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  
  

  