
<div  class="form-body">
    <form
      autocomplete="off"
      [formGroup]="createFormd"
      (ngSubmit)="onCreated(createFormd.value)"
    >
      <div>
        <label>
            DepartmentName: </label>
        <input type="text" formControlName="Dname" autocomplete="off" />
      </div>
      <div>
        <label>
            DepartmentId: </label>
        <input type="text" formControlName="Did" autocomplete="off" />
      </div>
      
      <button type="submit">Submit</button>
    </form>
  </div>
  
  <div *ngFor="let i of deps">
    <div>{{ i.Dname }}</div>
    <div>{{ i.Did }}</div>
    
    
  </div>

  

