
<div  class="form-body">
    <form
      autocomplete="off"
      [formGroup]="createFormd"
      (ngSubmit)="onCreated(createFormd.value)"
    >
    <h3>Department</h3>
      <div>
        <label>
            DepartmentName: </label>
        <input type="text" formControlName="DName" autocomplete="off" />
      </div>
      <div>
        <label>
            DepartmentId: </label>
        <input type="text" formControlName="id" autocomplete="off" />
      </div>
      
      
      <button type="submit">Submit</button>
    </form>
  </div>
  
 

  

