

  *,
  *:before,
  *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  .form-body{
    background-color:  #080710;;
  }

  .form-body form{
    height: 550px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;

}
input, select{
  display: block;
  height: 40px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border:1px solid black;
}
::placeholder{
  color: #e5e5e5;
}


button{
  margin-top: 50px;
  border-color:black;
  width: 100%;
  background-color: rgb(203, 235, 41);
  color: black;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #fe6019;
  color:black;
}

form h3{
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  color:rgb(255, 123, 0);

}